body {
    background-color: cadetblue;
}

#content {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    gap: 10px;
}

#mainContent {
    background-color: darkkhaki;
    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

img {
    visibility: hidden;
    width: 400px;
    height: 300px;
}

.btn {
    height: 100px;
    width: 100px;
    background-color: #7c7c7c3b;
    border-radius: 100%;
    font-size: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #7c7c7c5b;
    font-size: 45px;
}

.btn:disabled {
    opacity: 0.5;
}